parameters:
	ignoreErrors:
		-
			message: '#^Cannot access property \$PakkeshopData on mixed\.$#'
			identifier: property.nonObject
			count: 4
			path: src/Client/Client.php

		-
			message: '#^Cannot access property \$parcelshops on mixed\.$#'
			identifier: property.nonObject
			count: 2
			path: src/Client/Client.php

		-
			message: '#^Instanceof between stdClass and stdClass will always evaluate to true\.$#'
			identifier: instanceof.alwaysTrue
			count: 1
			path: src/Client/Client.php

		-
			message: '#^Parameter \#1 \$data of static method Setono\\GLS\\Webservice\\Client\\Client\:\:mapParcelShops\(\) expects array\<stdClass\>\|stdClass, mixed given\.$#'
			identifier: argument.type
			count: 4
			path: src/Client/Client.php

		-
			message: '#^Variable method call on SoapClient\.$#'
			identifier: method.dynamicName
			count: 1
			path: src/Client/Client.php

		-
			message: '#^Method Setono\\GLS\\Webservice\\Factory\\SoapClientFactory\:\:create\(\) has parameter \$options with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Factory/SoapClientFactory.php

		-
			message: '#^Method Setono\\GLS\\Webservice\\Factory\\SoapClientFactoryInterface\:\:create\(\) has parameter \$options with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Factory/SoapClientFactoryInterface.php

		-
			message: '#^Cannot cast mixed to string\.$#'
			identifier: cast.string
			count: 3
			path: src/Model/OpeningHours.php

		-
			message: '#^Cannot access property \$Weekday on mixed\.$#'
			identifier: property.nonObject
			count: 1
			path: src/Model/ParcelShop.php

		-
			message: '#^Cannot cast mixed to int\.$#'
			identifier: cast.int
			count: 1
			path: src/Model/ParcelShop.php

		-
			message: '#^Cannot cast mixed to string\.$#'
			identifier: cast.string
			count: 10
			path: src/Model/ParcelShop.php

		-
			message: '#^Method Setono\\GLS\\Webservice\\Model\\ParcelShop\:\:__construct\(\) has parameter \$openingHours with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Model/ParcelShop.php

		-
			message: '#^Property Setono\\GLS\\Webservice\\Model\\ParcelShop\:\:\$openingHours \(array\<Setono\\GLS\\Webservice\\Model\\OpeningHours\>\) does not accept array\.$#'
			identifier: assign.propertyType
			count: 1
			path: src/Model/ParcelShop.php

		-
			message: '#^Call to static method PHPUnit\\Framework\\Assert\:\:assertInstanceOf\(\) with ''Setono\\\\GLS\\\\Webservice\\\\Model\\\\ParcelShop'' and Setono\\GLS\\Webservice\\Model\\ParcelShop will always evaluate to true\.$#'
			identifier: staticMethod.alreadyNarrowedType
			count: 2
			path: tests/Client/ClientTest.php

		-
			message: '#^Constructor of an anonymous class has an unused parameter \$options\.$#'
			identifier: constructor.unusedParameter
			count: 1
			path: tests/Client/ClientTest.php

		-
			message: '#^Method Setono\\GLS\\Webservice\\Factory\\SoapClientFactoryInterface@anonymous/tests/Client/ClientTest\.php\:126\:\:create\(\) has parameter \$options with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: tests/Client/ClientTest.php

		-
			message: '#^Method SoapClient@anonymous/tests/Client/ClientTest\.php\:102\:\:__construct\(\) has parameter \$options with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: tests/Client/ClientTest.php

		-
			message: '#^Call to static method PHPUnit\\Framework\\Assert\:\:assertInstanceOf\(\) with ''Setono\\\\GLS\\\\Webservice\\\\Exception\\\\ExceptionInterface'' and Setono\\GLS\\Webservice\\Exception\\ClientException will always evaluate to true\.$#'
			identifier: staticMethod.alreadyNarrowedType
			count: 1
			path: tests/Exception/ExceptionTest.php

		-
			message: '#^Call to static method PHPUnit\\Framework\\Assert\:\:assertInstanceOf\(\) with ''Setono\\\\GLS\\\\Webservice\\\\Exception\\\\ExceptionInterface'' and Setono\\GLS\\Webservice\\Exception\\ConnectionException will always evaluate to true\.$#'
			identifier: staticMethod.alreadyNarrowedType
			count: 1
			path: tests/Exception/ExceptionTest.php

		-
			message: '#^Call to static method PHPUnit\\Framework\\Assert\:\:assertInstanceOf\(\) with ''Setono\\\\GLS\\\\Webservice\\\\Exception\\\\ExceptionInterface'' and Setono\\GLS\\Webservice\\Exception\\NoResultException will always evaluate to true\.$#'
			identifier: staticMethod.alreadyNarrowedType
			count: 1
			path: tests/Exception/ExceptionTest.php

		-
			message: '#^Call to static method PHPUnit\\Framework\\Assert\:\:assertInstanceOf\(\) with ''Setono\\\\GLS\\\\Webservice\\\\Exception\\\\ExceptionInterface'' and Setono\\GLS\\Webservice\\Exception\\ParcelShopNotFoundException will always evaluate to true\.$#'
			identifier: staticMethod.alreadyNarrowedType
			count: 1
			path: tests/Exception/ExceptionTest.php

		-
			message: '#^Call to static method PHPUnit\\Framework\\Assert\:\:assertInstanceOf\(\) with ''Setono\\\\GLS\\\\Webservice\\\\Exception\\\\ExceptionInterface'' and Setono\\GLS\\Webservice\\Exception\\SoapException will always evaluate to true\.$#'
			identifier: staticMethod.alreadyNarrowedType
			count: 1
			path: tests/Exception/ExceptionTest.php

		-
			message: '#^Call to static method PHPUnit\\Framework\\Assert\:\:assertInstanceOf\(\) with ''Setono\\\\GLS\\\\Webservice\\\\Exception\\\\SoapException'' and Setono\\GLS\\Webservice\\Exception\\ClientException will always evaluate to true\.$#'
			identifier: staticMethod.alreadyNarrowedType
			count: 1
			path: tests/Exception/ExceptionTest.php

		-
			message: '#^Call to static method PHPUnit\\Framework\\Assert\:\:assertInstanceOf\(\) with ''Setono\\\\GLS\\\\Webservice\\\\Exception\\\\SoapException'' and Setono\\GLS\\Webservice\\Exception\\ConnectionException will always evaluate to true\.$#'
			identifier: staticMethod.alreadyNarrowedType
			count: 1
			path: tests/Exception/ExceptionTest.php

		-
			message: '#^Call to static method PHPUnit\\Framework\\Assert\:\:assertInstanceOf\(\) with ''SoapClient'' and SoapClient will always evaluate to true\.$#'
			identifier: staticMethod.alreadyNarrowedType
			count: 2
			path: tests/Factory/SoapClientFactoryTest.php

		-
			message: '#^Dynamic call to static method PHPUnit\\Framework\\Assert\:\:assertCount\(\)\.$#'
			identifier: staticMethod.dynamicCall
			count: 4
			path: tests/Model/ParcelShopTest.php

		-
			message: '#^Dynamic call to static method PHPUnit\\Framework\\Assert\:\:assertSame\(\)\.$#'
			identifier: staticMethod.dynamicCall
			count: 42
			path: tests/Model/ParcelShopTest.php
