parameters:
	ignoreErrors:
		-
			message: '#^Argument of an invalid type mixed supplied for foreach, only iterables are supported\.$#'
			identifier: foreach.nonIterable
			count: 4
			path: src/Client/Client.php

		-
			message: '#^Cannot access property \$PakkeshopData on mixed\.$#'
			identifier: property.nonObject
			count: 4
			path: src/Client/Client.php

		-
			message: '#^Cannot access property \$parcelshops on mixed\.$#'
			identifier: property.nonObject
			count: 2
			path: src/Client/Client.php

		-
			message: '#^Cannot call method __getLastResponseHeaders\(\) on SoapClient\|null\.$#'
			identifier: method.nonObject
			count: 1
			path: src/Client/Client.php

		-
			message: '#^Method Setono\\GLS\\Webservice\\Client\\Client\:\:sendRequest\(\) has parameter \$arguments with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Client/Client.php

		-
			message: '#^Parameter \#1 \$headers of class Setono\\GLS\\Webservice\\Response\\Response constructor expects string, string\|null given\.$#'
			identifier: argument.type
			count: 1
			path: src/Client/Client.php

		-
			message: '#^Parameter \#1 \$result of static method Setono\\GLS\\Webservice\\Model\\ParcelShop\:\:createFromStdClass\(\) expects stdClass, mixed given\.$#'
			identifier: argument.type
			count: 5
			path: src/Client/Client.php

		-
			message: '#^Parameter \#2 \$body of class Setono\\GLS\\Webservice\\Response\\Response constructor expects string, string\|null given\.$#'
			identifier: argument.type
			count: 2
			path: src/Client/Client.php

		-
			message: '#^Parameter \#3 \$result of class Setono\\GLS\\Webservice\\Response\\Response constructor expects stdClass\|null, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/Client/Client.php

		-
			message: '#^Variable method call on SoapClient\.$#'
			identifier: method.dynamicName
			count: 1
			path: src/Client/Client.php

		-
			message: '#^Method Setono\\GLS\\Webservice\\Factory\\SoapClientFactory\:\:create\(\) has parameter \$options with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Factory/SoapClientFactory.php

		-
			message: '#^Method Setono\\GLS\\Webservice\\Factory\\SoapClientFactoryInterface\:\:create\(\) has parameter \$options with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Factory/SoapClientFactoryInterface.php

		-
			message: '#^Cannot access property \$From on mixed\.$#'
			identifier: property.nonObject
			count: 1
			path: src/Model/OpeningHours.php

		-
			message: '#^Cannot access property \$To on mixed\.$#'
			identifier: property.nonObject
			count: 1
			path: src/Model/OpeningHours.php

		-
			message: '#^Parameter \#1 \$day of class Setono\\GLS\\Webservice\\Model\\OpeningHours constructor expects string, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/Model/OpeningHours.php

		-
			message: '#^Parameter \#2 \$openFrom of class Setono\\GLS\\Webservice\\Model\\OpeningHours constructor expects string, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/Model/OpeningHours.php

		-
			message: '#^Parameter \#3 \$openTo of class Setono\\GLS\\Webservice\\Model\\OpeningHours constructor expects string, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/Model/OpeningHours.php

		-
			message: '#^Cannot access property \$Weekday on mixed\.$#'
			identifier: property.nonObject
			count: 1
			path: src/Model/ParcelShop.php

		-
			message: '#^Method Setono\\GLS\\Webservice\\Model\\ParcelShop\:\:__construct\(\) has parameter \$openingHours with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Model/ParcelShop.php

		-
			message: '#^Parameter \#1 \$number of class Setono\\GLS\\Webservice\\Model\\ParcelShop constructor expects string, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/Model/ParcelShop.php

		-
			message: '#^Parameter \#1 \$result of static method Setono\\GLS\\Webservice\\Model\\OpeningHours\:\:createFromStdClass\(\) expects stdClass, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/Model/ParcelShop.php

		-
			message: '#^Parameter \#10 \$telephone of class Setono\\GLS\\Webservice\\Model\\ParcelShop constructor expects string, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/Model/ParcelShop.php

		-
			message: '#^Parameter \#11 \$distanceMetersAsTheCrowFlies of class Setono\\GLS\\Webservice\\Model\\ParcelShop constructor expects int, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/Model/ParcelShop.php

		-
			message: '#^Parameter \#2 \$companyName of class Setono\\GLS\\Webservice\\Model\\ParcelShop constructor expects string, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/Model/ParcelShop.php

		-
			message: '#^Parameter \#3 \$streetName of class Setono\\GLS\\Webservice\\Model\\ParcelShop constructor expects string, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/Model/ParcelShop.php

		-
			message: '#^Parameter \#4 \$zipCode of class Setono\\GLS\\Webservice\\Model\\ParcelShop constructor expects string, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/Model/ParcelShop.php

		-
			message: '#^Parameter \#5 \$city of class Setono\\GLS\\Webservice\\Model\\ParcelShop constructor expects string, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/Model/ParcelShop.php

		-
			message: '#^Parameter \#6 \$countryCode of class Setono\\GLS\\Webservice\\Model\\ParcelShop constructor expects string, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/Model/ParcelShop.php

		-
			message: '#^Parameter \#7 \$longitude of class Setono\\GLS\\Webservice\\Model\\ParcelShop constructor expects string, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/Model/ParcelShop.php

		-
			message: '#^Parameter \#8 \$latitude of class Setono\\GLS\\Webservice\\Model\\ParcelShop constructor expects string, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/Model/ParcelShop.php

		-
			message: '#^Parameter \#9 \$streetName2 of class Setono\\GLS\\Webservice\\Model\\ParcelShop constructor expects string, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/Model/ParcelShop.php

		-
			message: '#^Property Setono\\GLS\\Webservice\\Model\\ParcelShop\:\:\$openingHours \(array\<Setono\\GLS\\Webservice\\Model\\OpeningHours\>\) does not accept array\.$#'
			identifier: assign.propertyType
			count: 1
			path: src/Model/ParcelShop.php

		-
			message: '#^Call to static method PHPUnit\\Framework\\Assert\:\:assertInstanceOf\(\) with ''Setono\\\\GLS\\\\Webservice\\\\Model\\\\ParcelShop'' and Setono\\GLS\\Webservice\\Model\\ParcelShop will always evaluate to true\.$#'
			identifier: staticMethod.alreadyNarrowedType
			count: 2
			path: tests/Client/ClientTest.php

		-
			message: '#^Constructor of an anonymous class has an unused parameter \$options\.$#'
			identifier: constructor.unusedParameter
			count: 1
			path: tests/Client/ClientTest.php

		-
			message: '#^Method Setono\\GLS\\Webservice\\Factory\\SoapClientFactoryInterface@anonymous/tests/Client/ClientTest\.php\:126\:\:create\(\) has parameter \$options with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: tests/Client/ClientTest.php

		-
			message: '#^Method SoapClient@anonymous/tests/Client/ClientTest\.php\:102\:\:__construct\(\) has parameter \$options with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: tests/Client/ClientTest.php

		-
			message: '#^Dynamic call to static method PHPUnit\\Framework\\Assert\:\:assertCount\(\)\.$#'
			identifier: staticMethod.dynamicCall
			count: 3
			path: tests/Model/ParcelShopTest.php

		-
			message: '#^Dynamic call to static method PHPUnit\\Framework\\Assert\:\:assertSame\(\)\.$#'
			identifier: staticMethod.dynamicCall
			count: 36
			path: tests/Model/ParcelShopTest.php
